In [ ]:
Ans = 1
A database is a collection of organized data that is stored and accessed electronically.
It is designed to manage and manipulate large amounts of information efficiently and securely.

SQL (Structured Query Language) databases are relational databases that use tables to organize data. 
They have a fixed schema, which means that the data is organized in a predefined structure, and any changes
to the schema require altering the table structure. SQL databases use SQL as the primary language for 
managing and querying data. They are best suited for structured data with complex relationships and transactions, 
such as financial transactions and inventory management.

NoSQL (Not Only SQL) databases, on the other hand, do not use tables and have a dynamic schema,
which allows for more flexibility in managing unstructured and semi-structured data. 
NoSQL databases are often distributed, meaning that data is stored on multiple servers, 
which allows for scaling to handle large amounts of data and high traffic. NoSQL databases 
use a variety of languages and interfaces for managing data, depending on the specific type of database.
They are best suited for handling large volumes of unstructured and semi-structured data,
such as social media data and web analytics.

In [ ]:
Ans = 2
DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to create,
modify, and delete database objects such as tables, indexes, and views.

1. create
ex:
    CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    employee_salary DECIMAL(10,2)
);

    
2. Drop
ex:
    DROP TABLE employees;
    
    
3. Alter
ex:
    ALTER TABLE employees
ADD employee_department VARCHAR(50);

4. Truncate 
ex:
    TRUNCATE TABLE employees;

In [ ]:
Ans = 3
DML stands for Data Manipulation Language, 
which is a subset of SQL (Structured Query Language) used to manipulate and modify data within a database.

1. Insert
ex:
    INSERT INTO employees (employee_id, employee_name, employee_salary)
VALUES (1, 'John Doe', 50000);

2 .Delete
ex:
DELETE FROM employees
WHERE employee_id = 1;

3. update
ex:
    UPDATE employees
SET employee_salary = 60000
WHERE employee_id = 1;

In [ ]:
Ans = 4
DQL stands for Data Query Language, 
which is a subset of SQL (Structured Query Language) used to query and retrieve data from a database.

1. select
ex:
    SELECT *
FROM employees;

SELECT employee_name, employee_salary
FROM employees;

SELECT *
FROM employees
WHERE employee_salary >= 50000;

In [ ]:
Ans = 5
1. 
Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row. 
It is used to ensure that each row in the table is unique and can be easily referenced by other tables. 
Primary keys can be a single column or a combination of columns. They must be unique, not null, and immutable.

2.Foreign Key: A foreign key is a column or a set of columns in a table that references the primary key of 
another table. It is used to establish relationships between tables and ensure data consistency. Foreign 
keys help enforce referential integrity, which means that the data in one table must match the data in another
table.

In [ ]:
Ans = 6
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Create a table
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

# Insert data into the table
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

# Commit the changes
mydb.commit()

# Print the number of inserted rows
print(mycursor.rowcount, "row(s) inserted.")

In [ ]:
Ans = 7